
<section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay-black overlay-60 bg-cover jarallax" style="background:url('https://cdn1.tablethotels.com/media/ecs/global/email/assets/20200402_Zoom/TabletHotels_Public.jpg');">
    <div class="container">
    
        <div class="row justify-content-center">
    
            <div class="col-12 col-md-10 col-lg-8 text-center">

            <h1 class="display-2 text-white">
                    pokebowl
            </h1>

            <p class="display-4 text-white">
                BoBun
            </p>

            <a href="#!" class="btn btn-primary lift">
                Découvrir la Galerie LaCarte
                <i class="fe fe-arrow-right ms-3"></i>
            <a/>
    
    
    
    </div>
    
    
    </div>
    
    
    
    </div>





</section>